html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // content height fix
  height: -webkit-fill-available;
}

body {
  //font-family: $font-family-agg-dm;
  font-weight: 400;
  line-height: 1.5;

  //background-color: $color-white;
  //color: $color-black;

  //min-width: 320px;
  overflow-y: scroll;

  // content height fix
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

// * {
//   letter-spacing: 0.02em;
// }


// .layout {
//   // content height fix
//   flex-grow: 1;
// }

// .grecaptcha-badge {
//   visibility: hidden;
// }
